<?xml version="1.0"?>
<robot name="jopdorp_robot">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="1 0.5 0.2"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <link name="shoulder_block">
    <visual>
      <geometry>
        <box size="0.5 0.7 0.3"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.05 0"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="shoulder_rotate" type="fixed">
    <parent link="base_link"/>
    <child link="shoulder_block"/>
    <origin xyz="0 0 0.3"/>
  </joint>

  <link name="upper_arm">
    <visual>
      <geometry>
        <box size="0.4 1 0.1"/>
      </geometry>
      <origin rpy="3 0 0" xyz="0 -0.4 0.1"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="shoulder_stretch" type="fixed">
    <parent link="shoulder_block"/>
    <child link="upper_arm"/>
    <origin xyz="0 0.3 0"/>
  </joint>

  <link name="elbow_block">
    <visual>
      <geometry>
        <box size="0.4 0.4 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="inner_elbow" type="fixed">
    <parent link="upper_arm"/>
    <child link="elbow_block"/>
    <origin xyz="0 -1 0.2"/>
  </joint>

  <link name="lower_arm">
    <visual>
      <geometry>
        <box size="0.1 1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="rotate_elbow" type="fixed">
    <parent link="elbow_block"/>
    <child link="lower_arm"/>
    <origin xyz="0 0.4 0"/>
  </joint>

  <link name="wrist_block">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="wrist" type="fixed">
    <parent link="lower_arm"/>
    <child link="wrist_block"/>
    <origin xyz="0 0.5 0"/>
  </joint>

  <link name="hand">
    <visual>
      <geometry>
        <box size="0.2 0.3 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="close_hand" type="fixed">
    <parent link="wrist_block"/>
    <child link="hand"/>
    <origin xyz="0 0.2 0"/>
  </joint>

</robot>